<h2>By Region</h2>
<hr>

<div class="row">
  <div class="col text-center">
    <!-- <shared-search-box (onValue)="searchByRegion($event)" placeholder="Buscar por region"></shared-search-box> -->
    <button *ngFor="let region of regions" class="btn mx-2"
      [ngClass]="{'btn-outline-primary': selectedRegion === region}"
      [disabled]="isLoading"
      (click)="searchByRegion(region)">
      {{region}}
    </button>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <countries-table [countries]="countries" [isLoading]="isLoading"></countries-table>
  </div>
</div>
